@using SubChoice.Core.Data.Entities
<div class=" Subj">
    @{
        ViewData["Title"] = "Chosen Subjects";
    }
    <div class="d-flex justify-content-between my-4"><h1 class="p-0" style="margin-left:3%;">@ViewData["Title"]</h1></div>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Teacher</th>
                <th scope="col">Participants</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @{
                var data = (List<Subject>)ViewData["ChosenSubjects"];
            }
            @foreach (var subject in @data)
            {
                <tr>
                    <td onclick="location.href = '@(Url.Action("SubjectDetail", "Home", new { id = @subject.Id }))'">@subject.Name</td>
                    <td>@subject.Teacher.User.DisplayName</td>
                    <td>@subject.StudentSubjects.Count/@subject.StudentsLimit</td>
                    <td>
                        <form method="post" asp-controller="Home" asp-action="Unregister">
                            <input type="hidden" name="Id" value="@subject.Id" />
                            <button type="submit" class="btn btn-danger">Unregister</button>
                        </form>
                    <td>
                </tr>
            }
        </tbody>
    </table>
</div>

