@model SubChoice.Core.Data.Dto.SubjectData
@using SubChoice.Core.Data.Entities
<div class=" Subj">
    @{
        ViewData["Title"] = "Edit subject";
        var subject = (Subject)ViewData["Subject"];

    }

    <div class="container">
        <h1 class="text-center" style="margin-left:3%;">@ViewData["Title"]</h1>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form asp-controller="Home" asp-action="EditSubject" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" value="@subject.Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StudentsLimit">Capacity</label>
                        <input asp-for="StudentsLimit" class="form-control" value="@subject.StudentsLimit" />
                        <span asp-validation-for="StudentsLimit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea class="form-control" data-val="true" data-val-required="The Description field is required." id="Description" name="Description" spellcheck="false">@subject.Description</textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex justify-content-between pt-3">
                        <input type="hidden" asp-for="TeacherId" value=@ViewData["TeacherId"] />
                        <input type="hidden" asp-for="Id" value=@ViewData["Id"] />
                        <button type="submit" class="btn  btn-login" onclick="location.href = '@(Url.Action("MySubjects", "Home"))'">Back</button>
                        <button type="submit" class="btn btn-login">Edit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
