@using SubChoice.Core.Data.Entities
@model SubChoice.Core.Data.Dto.SubjectIdDto
<div class=" Subj">
    @{
        ViewData["Title"] = "My Subjects";
    }

    <div class="d-flex justify-content-between my-4"><h1 style="margin-left:3%;">@ViewData["Title"]</h1> </div>
    <a asp-controller="Home" asp-action="Create" class="btn btn-login " style="margin-left:80%; margin-top:-5%;">New</a>
    <table class="table" style="margin-top:3%;">
        <thead>

            <tr>

                <th scope="col">Name</th>
                <th scope="col">Participants</th>
                <th scope="col"></th>
                <th scope="col" ></th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @{
                var data = (List<Subject>)ViewData["MySubjects"];
            }
            @foreach (var subject in @data)
            {
            <tr>
                <td onclick="location.href = '@(Url.Action("SubjectDetail", "Home", new { id = @subject.Id }))'">@subject.Name</td>
                <td onclick="location.href = '@(Url.Action("StudentsSubject", "Home", new { id = @subject.Id }))'">@subject.StudentSubjects.Count/@subject.StudentsLimit</td>
                
                <td>
                    <form method="get" asp-controller="Home" asp-action="EditSubject">
                        <input type="hidden" name="Id" value="@subject.Id" />
                        <button type="submit" class="btn btn-secondary">Edit</button>
                    </form>
                <td>
                <td>
                    <form method="post" asp-controller="Home" asp-action="DeleteSubject">
                        <button type="submit" class="btn btn-danger " onclick="return confirm('Are you sure you want to delete subject @subject.Name ?')">Delete</button>
                        <input type="hidden" name="Id" value="@subject.Id" />
                    </form>
                <td>
            </tr>
            }
        </tbody>
    </table>
</div>
